

@mixin h4 {
    font-size: $font-size-H4;
    padding-left: 15px;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
    }
}

@mixin button_image ($width,$height,$bgc,$br,$bs) {
    width: $width;
    height: $height;
    margin-bottom: 15px;
    background-color: $bgc;
    border-radius: $br;
    box-shadow: $bs;
    cursor: pointer;
}

@mixin form_button ($width,$bgc,$br,$bs) {
    display: flex;
    width: $width;

    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
  
    margin-left: 35px;
    margin-bottom: 15px;
  
    border-radius: $br;
    box-shadow: $bs;
  
    background-color: $bgc;

    cursor: pointer;
}