

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}


* {
    box-sizing: border-box;
}

@import '../sass/utils/variables';
@import '../sass/utils/mixins';
@import '../sass/utils/media';
  
@font-face {
    font-family: "Shrikhand";
    src: url("../Police/Shrikhand-Regular.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("../Police/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Black";
    src: url("../public/Police/Roboto-Black.ttf");
}

.bloc_page {
    position:relative;
    padding-bottom: 200px;
    min-height: 100vh;
}

.head {
    @media #{$media-up} {
        
    }
}




.box_title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

    height: 70px;

    border-bottom: 1px solid #c4bcbc;
    h1 {
        font-family: $font-family1;
        height: 40px;
        font-size: 30px;
    }
}

.image_background {
    background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    height: 240px;
    background-size: cover;
    background-position: center center;
    width: 100%;
    display: block;
    margin-bottom: -45px;
    @media #{$media-up} {
        overflow: hidden;
        height: 600px;
        background-size: cover;
        background-position: center center;
    }
}

section {
    width: 100%;
    padding-left: 18px;
    padding-right: 18px;
    background-color: #FFF;
    border-radius: 40px 40px 0 0;
}

.title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    .title__label {
        font-family: $font-family1;
        font-size: $font-size-H5;
        margin-top: 0;
        padding-top: 20px;
        margin-bottom: 15px;
    }
}

.star__like {
    color: rgb(223, 213, 213);
    font-size: 26px;
    padding-right: 22px;
    cursor: pointer;
}

.star__like::before {
    transition: color 1000ms ease-in-out;
}

.star__like:hover::before {
    font-weight: bold;
    color: $color-secondary;
    cursor: pointer;
}

.star__like£.active {
    color: $color-secondary;
}

.menu_part {
    @media #{$media-up} {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.food_box {
    margin-bottom: 45px;
    @media #{$media-up} {
        width: 33%;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.food_label {
    font-family: $font-family2;
    color:rgba(22, 21, 21, 0.685);
    padding-bottom: 4px;
    @media #{$media-up} {
        font-size: 20px;
    }
    .starter-border {
        margin-top: 7px;
        width: 50px;
        background-color: $color-third;
        height: 3px;
    }
}

.box {
    @include box-menu;
    @media #{$media-up} {
        cursor: pointer;
    }   
}

.order {
    display: flex;
    justify-content: center;
    .button_explorer {
        height: 45px;

        font-size: 14px;

        margin-bottom: 50px;

        padding-left: 20px;
        padding-right: 20px;

        border-radius: 25px;
        box-shadow: $box-shadow;
        border: 0px;

        background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);        color: white;

        cursor: pointer;
        &:hover {
            transform: scale(1.05);
            transition: transform 0.2s ease-in-out;
        }

        @media #{$media-up} {
            font-size: 20px;
            padding-left: 30px;
            padding-right: 30px;
        }   
    }
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-color: $background-color-footer;
    a {
        color: white;
        text-decoration: none;

        margin-left: 10px;
        margin-bottom: 10px;
    }
}

.footer__title {
    font-size: 16px;
    color: white;
    font-family: $font-family1;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.label_box {
    display: flex;
    flex-direction: row;
    color: white;

    padding-left: 15px;
}

#label_contact {
    margin-bottom: 50px;
}