html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.gradient_text {
  background-image: linear-gradient(to top, #8b46df, #7b16aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.small_box__a {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 60px;
  font-family: "Roboto-Black";
  font-size: 18px;
  border: 1px solid #fff;
  padding: 8px;
  margin-bottom: 15px;
  transition: width 0.4s ease-in-out;
}
.small_box__a .small_box__title {
  font-family: "Roboto-Black";
  font-weight: 900;
}
.small_box__a .small_box__option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
.small_box__a .small_box__option .small_box__label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}
.small_box__a .small_box__option .small_box__price {
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.small_box__b {
  z-index: 1;
  position: absolute;
  right: -15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 15%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #99e2d0;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  transition: right 0.4s ease-in-out;
}
.small_box__b i {
  color: #fff;
}

.small_box:hover .small_box__a {
  width: 85%;
}

.small_box:hover .small_box__b {
  right: 0;
}

#image_background_1 {
  background-image: url("../../images/restaurants/1.jpg");
}

#image_background_2 {
  background-image: url("../../images/restaurants/2.jpg");
}

#image_background_3 {
  background-image: url("../../images/restaurants/3.jpg");
}

#image_background_4 {
  background-image: url("../../images/restaurants/4.jpg");
}

.small_box-1 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

.small_box-2 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

.small_box-3 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}

.small_box-4 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 1600ms;
  animation-fill-mode: forwards;
}

.small_box-5 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 2000ms;
  animation-fill-mode: forwards;
}

.small_box-6 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 2400ms;
  animation-fill-mode: forwards;
}

.small_box-7 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 2800ms;
  animation-fill-mode: forwards;
}

.small_box-8 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 3200ms;
  animation-fill-mode: forwards;
}

.small_box-9 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 3600ms;
  animation-fill-mode: forwards;
}

.small_box-10 {
  opacity: 0;
  animation: fadein 1s;
  animation-delay: 4000ms;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: "Shrikhand";
  src: url("../Police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../Police/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../Police/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../Police/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../public/Police/Roboto-Bold.ttf");
}
/* LOADER */
.loader {
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loading 500ms ease-in-out 1000ms forwards;
}
.loader .loader__title {
  justify-content: center;
  vertical-align: middle;
  position: absolute;
  top: 40%;
  left: 15%;
}
@media only screen and (min-width: 1024px) {
  .loader .loader__title {
    top: 40%;
    left: 38%;
  }
}
.loader .loader__fork {
  margin-top: 20px;
  font-size: 50px;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 45%;
  animation: rotate 2s linear infinite;
}
@media only screen and (min-width: 1024px) {
  .loader .loader__fork {
    top: 50%;
    left: 47%;
  }
}

/* HEADER */
.bloc_page {
  position: relative;
  padding-bottom: 200px;
  min-height: 100vh;
}

.header__top {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header__top a {
  position: absolute;
  left: 20px;
  font-size: 20px;
  padding-top: 25px;
  cursor: pointer;
  color: black;
}

.header__title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #c4bcbc;
}
.header__title h1 {
  font-family: "Shrikhand";
  height: 40px;
  font-size: 30px;
}

.header__image_background {
  height: 240px;
  background-size: cover;
  background-position: center center;
  width: 100%;
  display: block;
  margin-bottom: -45px;
}
@media only screen and (min-width: 1024px) {
  .header__image_background {
    overflow: hidden;
    height: 600px;
    background-size: cover;
    background-position: center center;
  }
}

/* BLOC WITH ALL THE MENU */
.menu {
  width: 100%;
  padding-left: 18px;
  padding-right: 18px;
  background-color: #fff;
  border-radius: 40px 40px 0 0;
}

.menu__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
@media only screen and (min-width: 1024px) {
  .menu__title {
    justify-content: center;
  }
}
.menu__title .menu__label {
  font-family: "Shrikhand";
  font-size: 28px;
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 15px;
}
.menu__title .menu__star {
  padding-left: 15px;
  font-size: 25px;
}
.menu__title .menu__star .btn_image__star::before {
  cursor: pointer;
}
.menu__title .menu__star .btn_image__star:hover::before {
  font-weight: bold;
  color: #ff79da;
  transition: 300ms linear;
}
.menu__title .menu__star .btn_image__star.active {
  color: #ff79da;
}

@media only screen and (min-width: 1024px) {
  .menu_part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu_part__box {
  margin-bottom: 45px;
}
@media only screen and (min-width: 1024px) {
  .menu_part__box {
    width: 33%;
    margin-left: 15px;
    margin-right: 15px;
  }
}

.menu_part__label {
  font-family: "Roboto";
  color: rgba(22, 21, 21, 0.685);
  padding-bottom: 4px;
}
@media only screen and (min-width: 1024px) {
  .menu_part__label {
    font-size: 20px;
  }
}

.menu_part__border {
  margin-top: 7px;
  width: 50px;
  background-color: #99e2d0;
  height: 3px;
}

/* BLOC WITH DETAILS MENU */
.small_box {
  position: relative;
  height: 60px;
  box-shadow: 0px 2px 10px 1px #c4c4c4;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
}
@media only screen and (min-width: 1024px) {
  .small_box {
    cursor: pointer;
  }
}

.order {
  display: flex;
  justify-content: center;
}
.order .order__btn {
  height: 45px;
  font-size: 14px;
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  box-shadow: 0px 2px 10px 1px #c4c4c4;
  border: 0px;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  cursor: pointer;
}
.order .order__btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
@media only screen and (min-width: 1024px) {
  .order .order__btn {
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* FOOTER */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

.footer__title {
  font-size: 16px;
  color: white;
  font-family: "Shrikhand";
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.label_box {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 15px;
}

#label_contact {
  margin-bottom: 50px;
}

/*# sourceMappingURL=menu.css.map */
