html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.small_box__a {
  position: absolute;
  z-index: 2;
  background-color: #FFF;
  width: 100%;
  height: 60px;
  font-family: "Roboto-Black";
  font-size: 18px;
  border: 1px solid #FFF;
  padding: 8px;
  margin-bottom: 15px;
  transition: width 0.4s ease-in-out;
}
.small_box__a .small_box__title {
  font-weight: 900;
}
.small_box__a .small_box__option {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}
.small_box__a .small_box__option .small_box__label {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 14px;
}
.small_box__a .small_box__option .small_box__price {
  padding-right: 10px;
  font-size: 15px;
  font-weight: bold;
}

.small_box__b {
  z-index: 1;
  position: absolute;
  right: -15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 15%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #99E2D0;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  transition: right 0.4s ease-in-out;
}
.small_box__b i {
  color: #FFF;
}

.small_box:hover .small_box__a {
  width: 85%;
}

.small_box:hover .small_box__b {
  right: 0;
}

@font-face {
  font-family: "Shrikhand";
  src: url("../Police/Shrikhand-Regular.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../Police/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../Police/Roboto-Black.ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: url("../Police/Roboto-Light.ttf");
}
.box_title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid #c4bcbc;
}
.box_title h1 {
  font-family: "Shrikhand";
  height: 40px;
  font-size: 30px;
}

.search_box {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  width: 100%;
  height: 45px;
}
.search_box .search_box__icon {
  margin-right: 10px;
}
.search_box .search_box__place_search {
  width: 125px;
  font-size: 16px;
  font-weight: 900;
  background-color: #eaeaea;
  border: transparent;
  outline: none;
}

.h2_h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f6f6f6;
  padding-top: 15px;
  padding-bottom: 50px;
}
.h2_h3 h2 {
  font-family: "Roboto-Black";
  margin-bottom: 2px;
  padding-left: 60px;
  padding-right: 60px;
}
.h2_h3 h3 {
  font-family: "Roboto-Light";
  font-weight: lighter;
  margin-top: 8px;
  padding-left: 28px;
  padding-right: 28px;
}

.h2_h3__button_explorer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  text-decoration: none;
  font-size: 14px;
  font-family: "Roboto";
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  box-shadow: 0px 2px 10px 1px #c4c4c4;
  border: 0px;
  background-image: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  color: white;
  transform: scale(1);
  cursor: pointer;
}
.h2_h3__button_explorer:hover {
  box-shadow: 3px 7px 6px 0px #c4c4c4;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

h4 {
  font-family: "Roboto-Black";
  font-size: 22px;
  padding-left: 15px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  h4 {
    display: flex;
    justify-content: center;
  }
}

.nav {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    padding-right: 25px;
    margin-bottom: 20px;
    width: 100%;
    height: 70%;
  }
}

.form_button {
  display: flex;
  width: 82%;
  font-family: "Roboto";
  padding-left: 28px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-left: 35px;
  margin-bottom: 15px;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 2px 10px 1px #c4c4c4;
  background-color: #f6f6f6;
  cursor: pointer;
}
.form_button:hover {
  box-shadow: 3px 7px 6px 0px #c4c4c4;
  background-color: #f4ebfe;
}
.form_button .form_button__number {
  font-size: 14px;
  background-color: #9356DC;
  color: white;
  border-radius: 75%;
  padding: 5px 9px;
  margin-left: -40px;
  margin-right: 15px;
}
.form_button .form_button__logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 800;
  background: transparent;
  border: transparent;
  padding-left: 20px;
}
.form_button .form_button__logo i {
  color: gray;
}
.form_button .form_button__label {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 800;
  background: transparent;
  border: transparent;
  padding-left: 20px;
}
@media only screen and (min-width: 375px) {
  .form_button {
    display: flex;
    height: 70%;
  }
}

/* BOX RESTAURANTS */
.box {
  background-color: #f6f6f6;
  padding-top: 10px;
}

.box__restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 15px 15px 15px;
  padding-bottom: 50px;
}
.box__restaurants .box__title {
  font-family: "Roboto-Black";
  font-size: 22px;
  padding-left: 15px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .box__restaurants .box__title {
    display: flex;
    justify-content: center;
  }
}

.btn_image {
  width: 85%;
  height: 240px;
  margin-bottom: 15px;
  background-color: #f5f5f5;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 0px 2px 10px 1px #c4c4c4;
  transform: scale(1);
}
.btn_image a {
  text-decoration: none;
  color: black;
}
.btn_image:hover {
  box-shadow: 3px 7px 6px 0px #c4c4c4;
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
}
.btn_image .btn_image__restaurant {
  width: 100%;
  height: 158px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  cursor: pointer;
}
@media only screen and (min-width: 375px) {
  .btn_image .btn_image__restaurant {
    width: 100%;
    height: 70%;
  }
}
.btn_image .btn_image__label {
  padding-left: 10px;
  padding-right: 15px;
  padding-top: 10px;
}
.btn_image .btn_image__label .btn_image__label_1 {
  font-family: "Roboto-Black";
  font-size: 17px;
  font-weight: 800;
}
@media only screen and (min-width: 1024px) {
  .btn_image .btn_image__label .btn_image__label_1 {
    font-size: 22px;
    padding-top: 15px;
  }
}
.btn_image .btn_image__logo {
  position: absolute;
  right: 10px;
  bottom: 22px;
  font-size: 28px;
  padding-left: 15px;
  font-size: 25px;
}
.btn_image .btn_image__logo .btn_image__star {
  color: #666666;
  font-size: 24px;
  padding-right: 22px;
  cursor: pointer;
}
@media only screen and (min-width: 1024px) {
  .btn_image .btn_image__logo .btn_image__star {
    position: absolute;
    right: 10px;
    bottom: 22px;
    padding-left: 20px;
  }
}
.btn_image .btn_image__logo .btn_image__star::before {
  cursor: pointer;
}
.btn_image .btn_image__logo .btn_image__star:hover::before {
  font-weight: bold;
  color: #FF79DA;
  transition: 300ms linear;
}
.btn_image .btn_image__logo .btn_image__star.active {
  color: #FF79DA;
}
.btn_image .btn_image__label_2 {
  padding-top: 4px;
  font-family: "Roboto";
  color: gray;
  font-size: 15px;
}
@media only screen and (min-width: 1024px) {
  .btn_image .btn_image__label_2 {
    font-size: 18px;
    padding-top: 10px;
  }
}
@media only screen and (min-width: 1024px) {
  .btn_image {
    width: 50%;
    height: 350px;
    margin-bottom: 40px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
}
.footer a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  margin-bottom: 10px;
}

h5 {
  font-size: 20px;
  color: white;
  font-family: "Shrikhand";
  padding-left: 20px;
}

.footer__label_box {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 15px;
}

/*# sourceMappingURL=style.css.map */
