

@mixin h4 {
    font-size: $font-size-H4;
    padding-left: 15px;
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
    }
}

@mixin form_button ($width,$bgc,$br,$bs) {
    display: flex;
    width: $width;

    padding-left: 28px;
    padding-top: 18px;
    padding-bottom: 18px;
  
    margin-left: 35px;
    margin-bottom: 15px;
  
    border-radius: $br;
    box-shadow: $bs;
  
    background-color: $bgc;

    cursor: pointer;
    &:hover {
        background: lighten($color: #fff, $amount: 5%);
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
    }
}

@mixin button_image ($width,$height,$bgc,$br,$bs) {
    width: $width;
    height: $height;
    margin-bottom: 15px;
    background-color: $bgc;
    border-radius: $br;
    box-shadow: $bs;
    cursor: pointer;
    &:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease-in-out;
    }
}

@mixin box-menu ($font-s,$padd,$br,$font-w) {
    font-family: $font-family3;
    font-size: $font-s;
    border: 1px solid #FFF;
    padding: $padd;
    border-radius: $br;
    box-shadow: $box-shadow;
    margin-bottom: 15px;
    .label_title {
        font-weight: $font-w;
    }

    .box_option {   
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: baseline;
        .label_option {
            font-size: $font-size-label_4;
        }
            
        .label_price {
            font-weight: 600;
        }
    }
}