

  
@mixin loading {
  background:linear-gradient(to top,#9356dc,#b35cdc,#cf64dc,#e86edb, #ff79da );
  width: 100%;
  height: 100%;
  line-height: 100%;
  font-family: Shrikhand, sans-serif;
  font-size: x-large;
  vertical-align: middle;
  text-align: center;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  pointer-events: none;
  animation: loading 500ms ease-in-out 1000ms forwards;
  .loader__title {
    justify-content: center;
    vertical-align: middle;
    position: absolute;
    top: 40%;
    left: 15%;
    @media #{$media-up} {
      top: 40%;
      left: 38%;
    }
  }
  .loader__fork {
    margin-top: 20px;
    font-size: 50px;
    vertical-align: middle;
    position: absolute;
    top:50%;
    left: 45%;
    animation: rotate 2s linear infinite;
    @media #{$media-up} {
      top:50%;
      left: 47%;
    }
  }
}

.gradient_text {
  background-image: linear-gradient(to top,#8b46df,#7b16aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin h4 {
  font-family: $font-family3;
  font-size: $font-size-H4;
  padding-left: 15px;
  margin-top: 50px;
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    font-size: 26px;
  }
}

@mixin form_button($width, $bgc, $br, $bs) {
  display: flex;
  width: $width;
  font-family: $font-family2;

  padding-left: 28px;
  padding-top: 18px;
  padding-bottom: 18px;

  margin-left: 35px;
  margin-bottom: 15px;

  border-radius: $br;
  box-shadow: $bs;

  background-color: $bgc;

  cursor: pointer;
  &:hover {
    box-shadow: $box-shadow-plus;
    background-color: rgba(244, 235, 254);
  }
}

@mixin btn_image($width, $height, $bgc, $br, $bs) {
  width: $width;
  height: $height;
  margin-bottom: 15px;
  background-color: $bgc;
  border-radius: $br;
  box-shadow: $bs;
  transform: scale(1);
  a {
    text-decoration: none;
    color: black;
  }
  &:hover {
    box-shadow: $box-shadow-plus;
    transform: scale(1.02);
    transition: transform 0.3s ease-in-out;
  }
}

@mixin btn_image__star {
  padding-left: 15px;
  font-size: 25px;
  .btn_image__star::before {
    cursor: pointer;
  }

  .btn_image__star:hover::before {
    font-weight: bold;
    color: $color-secondary;
    transition: 300ms linear;
  }

  .btn_image__star.active {
    color: $color-secondary;
  }
}

@mixin small_box {
  position: relative;
  height: 60px;
  box-shadow: $box-shadow;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 15px;
  &:hover {
    box-shadow: $box-shadow-plus;
  }
}

.small_box__a {
  position: absolute;
  z-index: 2;
  background-color: #fff;
  width: 100%;
  height: 60px;
  font-family: $font-family3;
  font-size: 18px;
  border: 1px solid #fff;
  padding: 8px;
  margin-bottom: 15px;
  transition: width 0.4s ease-in-out;
  .small_box__title {
    font-family: $font-family3;
    font-weight: 900;
    font-size: 16px;
  }
  .small_box__option {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    .small_box__label {
      font-family: $font-family5;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: $font-size-label_4;
    }
    .small_box__price {
      padding-right: 10px;
      font-size: 15px;
      font-weight: bold;
    }
  }
}

.small_box__b {
  z-index: 1;
  position: absolute;
  right: -15%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 15%;
  height: 60px;
  font-size: 20px;
  border: 1px solid #99e2d0;
  padding: 5px;
  border-radius: 0px 15px 15px 0px;
  transition: right 0.4s ease-in-out;
  i {
    color: #fff;
  }
}

.small_box:hover .small_box__a {
  width: 85%;
}

.small_box:hover .small_box__b {
  right: 0;
}


